<!DOCTYPE html>
<html>
<head>
    <title>Edit Employee</title>
     <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card p-4">
<h2 class="text-center mb-4">Edit Employee</h2>

<form method="POST">

<input type="text" name="name" value="{{ employee[1] }}" class="form-control mb-3" placeholder="Enter Name">
<br><br>

<input type="text" name="department" value="{{ employee[2] }}" class="form-control mb-3" placeholder="Enter Department">
<br><br>

<input type="number" name="salary" value="{{ employee[3] }}" class="form-control mb-3" placeholder="Enter Salary">

<input type="email" name="email" value="{{ employee[4] }}" class="form-control mb-3" placeholder="Enter Email">


<input type="text" name="phone" value="{{ employee[5] }}" class="form-control mb-3" placeholder="Enter PhoneNo">


<button class="btn btn-success">Update</button>

</form>
</div>
</div>

</body>
</html>
